<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Random Background Color</title>
	<style>
		.container {
			height: 1000px;
			width: 100%;
			background-color: #eaebf5;
			transition: background-color 2s;
		}
	</style>
</head>
<body>
	<div class="container"></div>

	<script>
		const colors = [
			"#eaebf5",
			"#e3f0fa",
			"#faf4f7",
			"#f7f8fe",
			"#f5f8fc",
			"#f6f9fd",
			"#f9fbf3",
			"#f5fbf7",
			"#f6f6fe",
			"#fcf7fb",
			"#fefdf7",
			"#fcf8f8",
			"#fbf8fc",
			"#fdfef4",
			"#fafaf6",
			"#fef0ea",
			"#f9f8ef",
			"#f4ece5",
			"#fdeeea",
			"#fdf6f5",
			"#eff5f9",
			"#f5f3f5",
			"#fbeeec",
			"#f9eae7",
			"#fdfbf0",
			"#fef6f4",
			"#fff3ec",
			"#fffcf1",
			"#e8e6fe",
			"#faf2f1",
			"#f7ebed",
			"#f5f0f2",
			"#f6fcfc",
			"#f1f0fd",
			"#f8e8f5",
			"#fff4eb",
			"#fff9eb",
			"#fffdeb",
			"#fffdeb",
			"#fef7e9",
			"#feffeb",
			"#fffeeb",
			"#fffbeb",
			"#ffefeb",
			"#fff3eb"
		];

		const container = document.querySelector('.container');
		let colorIndex = 0;

		function setColor() {
			container.style.backgroundColor = colors[colorIndex];
			colorIndex = (colorIndex + 1) % colors.length;
		}

		setColor();

		let sectionCount = 0;

		window.addEventListener('scroll', function() {
			if (sectionCount >= 50) {
				setColor();
				sectionCount = 0;
			} else {
				sectionCount++;
			}
		});
	</script>
</body>
</html>
